TABLE 1: Customers
Structure

CustomerID, CustomerName, City

CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    City VARCHAR(50)
);

INSERT INTO Customers VALUES
(1, 'John Smith', 'New York'),
(2, 'Mary Johnson', 'Chicago'),
(3, 'Peter Adams', 'Los Angeles'),
(4, 'Robert White', 'Houston'),
(5, 'Nancy Miller', 'Miami');

‚úÖ TABLE 2: Employees (Self-referencing ManagerID)
Structure

EmployeeID, EmployeeName, ManagerID

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    EmployeeName VARCHAR(50),
    ManagerID INT
);

INSERT INTO Employees VALUES
(1, 'Alex Green', NULL),
(2, 'Brian Lee', 1),
(3, 'Carol Ray', 1),
(4, 'Eva Smith', 2),
(5, 'David Kim', 2);

‚úÖ TABLE 3: Orders
Structure

OrderID, CustomerID, OrderDate, Amount

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    Amount INT
);

INSERT INTO Orders VALUES
(101, 1, '2024-10-01', 250),
(102, 2, '2024-10-05', 300),
(103, 1, '2024-10-07', 150),
(104, 3, '2024-10-10', 450),
(105, 6, '2024-10-12', 400);   -- customer does not exist

‚úÖ TABLE 4: Payments
Structure

PaymentID, CustomerID, PaymentDate, Amount

CREATE TABLE Payments (
    PaymentID VARCHAR(10) PRIMARY KEY,
    CustomerID INT,
    PaymentDate DATE,
    Amount INT
);

INSERT INTO Payments VALUES
('P001', 1, '2024-10-02', 250),
('P002', 2, '2024-10-06', 300),
('P003', 3, '2024-10-11', 450),
('P004', 4, '2024-10-15', 200);

‚úÖ SUMMARY

‚úî Tables created in MySQL Workbench
‚úî Matches your provided data
‚úî Includes self-join (Employees)
‚úî Includes missing customer order (CustomerID = 6)
‚úî Ready for SQL JOIN questions

If you want next:üîπ SQL JOIN queries

üîπ ER diagram

üîπ CREATE FUNCTION examples based on these tables


Q.1 . Retrieve all customers who have placed at least one order

..>> SQL Query
SELECT DISTINCT c.CustomerID, c.CustomerName, c.City
FROM Customers c
INNER JOIN Orders o
ON c.CustomerID = o.CustomerID;

üîé Explanation

INNER JOIN returns only matching records from both tables

DISTINCT avoids duplicate customers if they placed multiple orders

Ensures the customer has at least one order

‚úÖ Output (based on your data)
CustomerID	CustomerName	City
1	John Smith	New York
2	Mary Johnson	Chicago
3	Peter Adams	Los Angeles

Q.2  Retrieve all customers and their orders, including customers who have not placed any orders.

..>> ‚úÖ SQL Query
SELECT
    c.CustomerID,
    c.CustomerName,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID;

üîé Explanation

LEFT JOIN returns all customers

Orders appear where they exist

Customers without orders will show NULL in order columns

‚úÖ Sample Output (based on your data)
CustomerName	OrderID	Amount
John Smith	101	       250
John Smith	103     	 150
Mary Johnson	102     	300
Peter Adams	104	       450
Robert White	NULL    	NULL
Nancy Miller	NULL    	NULL

Q.3 Retrieve all orders and their corresponding customers, including orders placed by unknown customers

..>> ‚úÖ SQL Query (Recommended ‚Äì MySQL friendly)
SELECT
    o.OrderID,
    o.OrderDate,
    o.Amount,
    c.CustomerID,
    c.CustomerName,
    c.City
FROM Customers c
RIGHT JOIN Orders o
ON c.CustomerID = o.CustomerID;

üîé Explanation

RIGHT JOIN ensures all orders are returned

Matching customer details are shown when available

Orders with unknown customers show NULL in customer columns
(e.g., CustomerID = 6)

‚úÖ Sample Output (based on your data)
OrderID	Amount	CustomerName
101	250	John Smith
102	300	Mary Johnson
103	150	John Smith
104	450	Peter Adams
105	400	NULL
üîÅ Alternative (using LEFT JOIN on Orders)
SELECT
    o.OrderID,
    o.Amount,
    c.CustomerName
FROM Orders o
LEFT JOIN Customers c
ON o.CustomerID = c.Customer =" ID".

Q.4 SQL Query (FULL OUTER JOIN in MySQL)
SELECT
    c.CustomerID,
    c.CustomerName,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID

UNION

SELECT
    c.CustomerID,
    c.CustomerName,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
RIGHT JOIN Orders o
ON c.CustomerID = o.CustomerID;

Q.4 Display all customers and orders, whether matched or not.

...>SQL Query (FULL OUTER JOIN in MySQL)
SELECT
    c.CustomerID,
    c.CustomerName,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID

UNION

SELECT
    c.CustomerID,
    c.CustomerName,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
RIGHT JOIN Orders o
ON c.CustomerID = o.CustomerID;

üîé Explanation

LEFT JOIN ‚Üí all customers (matched or not)

RIGHT JOIN ‚Üí all orders (matched or not)

UNION removes duplicates and gives FULL OUTER JOIN behavior

‚úÖ Sample Output (based on your data)
CustomerName	OrderID
John Smith  	101
John Smith	  103
Mary Johnson	102
Peter Adams  	104
Robert White	NULL
Nancy Miller	NULL
NULL	        105

Q.5  Find customers who have not placed any orderS.

..>> ‚úÖ SQL Query
SELECT
    c.CustomerID,
    c.CustomerName,
    c.City
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
WHERE o.OrderID IS NULL;

üîé Explanation

LEFT JOIN keeps all customers

Customers with no matching orders have NULL in OrderID

WHERE o.OrderID IS NULL filters only those customers

‚úÖ Output (based on your data)
CustomerName	City
Robert White	Houston
Nancy Miller	Miami
üîÅ Alternative using NOT EXISTS
SELECT *
FROM Customers c
WHERE NOT EXISTS (
    SELECT 1
    FROM Orders o
    WHERE o.CustomerID = c.CustomerID
);

Q.6 Retrieve customers who made payments but did not place any orders.

..>> ‚úÖ SQL Query (Recommended)
SELECT DISTINCT
    c.CustomerID,
    c.CustomerName,
    c.City
FROM Customers c
JOIN Payments p
    ON c.CustomerID = p.CustomerID
LEFT JOIN Orders o
    ON c.CustomerID = o.CustomerID
WHERE o.OrderID IS NULL;

üîé Explanation

JOIN Payments ‚Üí customer has made a payment

LEFT JOIN Orders ‚Üí check if they placed any order

WHERE o.OrderID IS NULL ‚Üí no orders placed

DISTINCT ‚Üí avoids duplicates

‚úÖ Output (based on your data)
CustomerName	City
Robert White	Houston
üîÅ Alternative using NOT IN
SELECT CustomerName
FROM Customers
WHERE CustomerID IN (SELECT CustomerID FROM Payments)
AND CustomerID NOT IN (SELECT CustomerID FROM Orders);

Q.7. Generate a list of all possible combinations between Customers and Orders.

..>> ‚úÖ SQL Query
SELECT
    c.CustomerID,
    c.CustomerName,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
CROSS JOIN Orders o;

üîé Explanation

CROSS JOIN returns the Cartesian product

Every customer is paired with every order

If there are 5 customers and 5 orders, result = 25 rows

‚úÖ Sample Output (conceptual)
CustomerName	OrderID
John Smith	101
John Smith	102
John Smith	103
...	...
Nancy Miller	105

Q.8 . Show all customers along with order and payment amounts in one table.

..>> ‚úÖ SQL Query
SELECT
    c.CustomerID,
    c.CustomerName,
    o.OrderID,
    o.Amount AS OrderAmount,
    p.PaymentID,
    p.Amount AS PaymentAmount
FROM Customers c
LEFT JOIN Orders o
    ON c.CustomerID = o.CustomerID
LEFT JOIN Payments p
    ON c.CustomerID = p.CustomerID;

üîé Explanation

LEFT JOIN Orders ‚Üí shows customers with or without orders

LEFT JOIN Payments ‚Üí shows customers with or without payments

NULL values appear where data doesn‚Äôt exist

‚úÖ Sample Output (based on your data)
CustomerName	OrderAmount	PaymentAmount
John Smith	250	250
John Smith	150	250
Mary Johnson	300	300
Peter Adams	450	450
Robert White	NULL	200
Nancy Miller	NULL	NULL

Q 9. Retrieve all customers who have both placed orders and made payment.

..>> To retrieve all customers who have both placed orders and made payments, use INNER JOINs with both tables.

‚úÖ SQL Query
SELECT DISTINCT
    c.CustomerID,
    c.CustomerName,
    c.City
FROM Customers c
INNER JOIN Orders o
    ON c.CustomerID = o.CustomerID
INNER JOIN Payments p
    ON c.CustomerID = p.CustomerID;

üîé Explanation

INNER JOIN Orders ‚Üí customer has placed at least one order

INNER JOIN Payments ‚Üí customer has made at least one payment

DISTINCT ‚Üí avoids duplicate customers

‚úÖ Output (based on your data)
CustomerName
John Smith
Mary Johnson
Peter Adams
üîÅ Alternative using EXISTS
SELECT *
FROM Customers c
WHERE EXISTS (
    SELECT 1 FROM Orders o WHERE o.CustomerID = c.CustomerID
)
AND EXISTS ( SELECT 1 FROM Payments p WHERE p.CustomerID = c.CustomerID
);